.FooterContainer{
    background-color: var(--footer-color);
    height: 7rem;
    width: 100%;
    z-index: -1;
}
.FooterComp{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.FooterComp hr{
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}
.BannerContainer{
    padding: 1rem;
    height: 100%;
    width: 50%;
}
.BannerImgContainer{
    height: 3.5rem;
    width: 7.5rem;
    margin-bottom: 0.6rem;
    
}
.BannerImg{
    border-radius: 0.6rem;
}
.BannerContainer p{
    width: 90%;
    font-size: 0.6rem;
    color: white;
    line-height: 0.6rem;
}
.SocialsContainer{
    padding: 0.3rem;
    padding-top: 0.6rem;
    height: 100%;
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AboutUsButtonContainer{
    margin-bottom: 0.2rem;
}
.AboutUsButtonContainer button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4rem;
    height: 1.5rem;
    width: 3rem;
    font-size: 0.5rem;
    border: 0.14rem solid #C0CB02;
    margin-left: 1.01rem;
    padding: 0.3rem;
    color: #143905;
    cursor: pointer;
}
.SocialMediaIconContainer div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.SocialMediaIconContainer img{
    height: 2rem;
    cursor: pointer;
}
.SocialMediaIconContainer p{
    font-size: 0.6rem;
    margin-left: 1.2rem;
    margin-bottom: 0.2rem;
    color: white;
}
.CopyrightContainer{
    margin-top: 0.35rem;
    margin-left: -0.6rem;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.CopyrightContainer svg{
    height: 1rem;
    margin-right: 0.1rem;
}
.CopyrightContainer p{
    font-size: 0.5rem;
    color: white;
    text-wrap: nowrap;
}