.Croissant img{
    position: absolute;
    left: 4rem;
    top: -2rem;
    height: 5rem;
}
.MenuIcon img{
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    height: 2.5rem;
}
.Leaf img{
    position: absolute;
    bottom: 1rem;
    left: 4.4rem;
    height: 3.5rem;
    z-index: 1rem;
}