
.HeaderContainer{
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
}
.BellContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}
.BellContainer img{
    height: 2rem;
}
.SemiCircle{
    height: 1.4rem;
    width: 10rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: var(--secondary-color);
    box-shadow: 0rem -0.3rem 0rem -0.1rem var(--primary-color);
}
.Croissant{
    position: absolute;
    left: 4rem;
    top: -2rem;
    height: 5rem;
}
.Honey{
    position: absolute;
    right: 0rem;
    top: -0.5rem;
    height: 5rem;
}
.ProductBackground{
    padding: 0.4rem;
    height: 20.6rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--secondary-color);
}
.MenuContainer{
    height: 100%;
    border-radius: 1rem;
    border: 0.1rem solid black;
    background-color: var(--text-color);
}